@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
    font-family: 'Cerebri Sans';
    src: url('../fonts/cerebri-sans-bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('../fonts/cerebri-sans-book.ttf');
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cerebri Sans';
    color: #343a40;
    margin: 0 0 20px;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Mandali', sans-serif;
    color: #6c757d;
    /* background: url('../images/test.png') no-repeat top center;
    background-size: 1519.2px; */
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.d-flex {
    display: flex;
}

.section-intro {
    text-align: center;
    padding-bottom: 50px;
}

.section-intro h4 {
    font-weight: 300;
    text-transform: uppercase;
}

.section-intro h2 {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.section-intro p {
    max-width: 560px;
    margin: 10px auto;
    line-height: 28px;
}

.row {
    display: flex;
    gap: 30px;
}

.half-column {
    width: 50%; 
}

.features-column {
    padding-left: 80px;
    padding-top: 100px;
}

.features-column-reversed {
    padding-left: 0;
    padding-right: 80px;
}

.features-column h2 {
    font-size: 37px;    
}

.features-column p {
    margin-bottom: 10px;
}

.features-list li {
    position: relative;
    line-height: 28px;
    padding: 12px 0 12px 60px;
}

.features-list li i {
    position: absolute;
    top: 12px;
    left: 0;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px rgba(21, 16, 91, 0.123);
    color: #1f61eb;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.features-list li strong {
    color: black;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}

header .container {
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    display: block;
}

header nav ul {
    display: flex;
    gap: 40px;
}

header nav a {
    color: #6c757d;
}

header nav a:hover {
    color: #1f61eb;
}

header .account ul {
    display: flex;
    gap: 20px;
}

header .account a {
    color: #6c757d;
}

header .account a:hover {
    color: #1f61eb;
}

header .account a.sign-up-link {
    background: #c8d9fa;
    color: #1f61eb;
    border: 1px solid #a6c1f8;
    border-radius: 3px;
    padding: 2px 15px;
    display: block;
}

header .account a.sign-up-link:hover {
    background: #1f61eb;
    color: white;
    border-color: #1f61eb;
}

header .account a:hover {
    color: #1f61eb;
}

header a {
    transition: all .3s ease-in-out;
}

section {
    padding: 100px 0;
}

#home {
    background: url('../images/hero-3-bg.png') no-repeat top center / cover;
    padding-top: 170px;
    padding-bottom: 150px;
}

#home .left {
    padding-top: 60px;
}

#home .left h1 {
    font-size: 56px;
}

#home .left p {
    font-size: 17px;
    line-height: 28px;
}

#home .left ul {
    margin-bottom: 30px;
}

#home .left li {
    display: flex;
    align-items: center;
    gap: 13px;
}

#home .left li::before {
    content: "\F270";
    font-family: bootstrap-icons;
    color: #39e5b7;
    font-weight: bold;
}

#home .left .featured-button {
    background: #1f61eb;
    border-radius: 4px;
    font-size: 17px;
    color: white;
    padding: 9px 29px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

#home .left .featured-button:hover {
    background: #1457e1;
    box-shadow: 0 9px 10px 0 rgb(197 218 255);
}

#howitwork {
    text-align: center;
}

/* #howitwork .container > p {
    max-width: 560px;
    margin: 10px auto;
    line-height: 28px;
} */

#howitwork .step {
    padding: 0 40px;
    position: relative;
}

#howitwork .step .icon {
    border-radius: 28% 72% 50% 50%/26% 20% 80% 74%;
    background: #dee7fc;
    width: 96px;
    font-size: 45px;
    color: black;
    height: 96px;
    margin: 0 auto;
}

#howitwork .step:nth-child(2) .icon {
    background: #ddfbf3;
}

#howitwork .step:nth-child(3) .icon {
    background: #fff6dc;
}

#howitwork .step:nth-child(1)::after {
    content: "";
    position: absolute;
    right: -53px;
    top: 100px;
    background: url('../images/arrow-top.png') no-repeat top left;
    width: 118px;
    height: 19px;
}

#howitwork .step:nth-child(2)::after {
    content: "";
    position: absolute;
    right: -53px;
    top: 100px;
    background: url('../images/arrow-bottom.png') no-repeat top left;
    width: 118px;
    height: 19px;
}

#howitwork .step h3 {
    font-size: 19px;
    margin-top: 25px;
    margin-bottom: 10px;
}

#howitwork .step p {
    margin: 0;
    line-height: 26px;
}

#features {
    background: #f8f9fa;
}

#features-2 {
    background: #f8f9fa url('../images/features-bg.png') no-repeat center center / cover;
    /* background-color: #f8f9fa; */
}

/* Kuomet norime kreiptis į elementą p kuris eina sekantis po h2 elemento */
/* #howitwork h2 + p {
    background: aqua;
} */

/* @media(max-width: 768px) {
    #home .left p::before {
        content: "";
        background: yellow;
        width: 30px;
        height: 30px;
        display: block;
        float: left;
    }
}

#home .left p::after {
    content: "";
    background-color: aqua;
} */